:root {
  /* Colors */
  --color-strong-green: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  /* Font Sizes */
  /** Titles (Mobile) **/
  --font-size-h1-h2: 2rem;
  --font-size-h3: 1.5rem;
  
  /** Titles (Desktop) **/
  --desktop-font-size-h1: 2.5rem;

  /** Other text (Desktop & Mobile) **/
  --font-size-p-large: 1.125rem;
  --font-size-p-medium: 1rem;
  --font-size-p-small: 1rem;
}

@font-face {
  font-family: "Bai Jamjuree Regular";
  src: url(./fonts/BaiJamjuree-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bai Jamjuree Semi-Bold";
  src: url(./fonts/BaiJamjuree-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree Regular', sans-serif;
}

body {
  background-image: url(./images/bg-header-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  color: var(--color-dark-grayish-blue);
  font-family: 'Bai Jamjuree Semi-Bold', sans-serif;
}
h1, h2 {
  font-size: var(--font-size-h1-h2);
}
h3 {
  font-size: var(--font-size-h3);
}

p {
  color: var(--color-grayish-blue);
  line-height: 1.75;
  font-size: var(--font-size-p-medium);
}

main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  margin: 7.5rem 1.875rem 10.625rem;
  gap: 10.5rem;

  section {
    .wrapper-start {
      display: flex;
      flex-direction: column;
      margin-block-end: 2.5rem;
      gap: 1rem;
    }
    .wrapper-end {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }
  }
}

img {
  max-width: 100%;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  button {
    height: 3.5rem;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 3rem;
    color: white;
    font-family: 'Bai Jamjuree Semi-Bold', sans-serif;
    font-size: 1.125rem;
    cursor: pointer;
  }
  :nth-child(1) {
    background-color: var(--color-strong-green);
    border-color: hsl(from var(--color-strong-green) h s calc(l - 10));
  }
  :nth-child(1):active {
    background-color: hsl(from var(--color-strong-green) h s calc(l + 10));
    border-color: var(--color-strong-green);
  }
  :nth-child(2) {
    background-color: var(--color-light-blue);
    border-color: hsl(from var(--color-light-blue) h calc(s - 20) calc(l - 10));
  }
  :nth-child(2):active {
    background-color: hsl(from var(--color-light-blue) h s calc(l + 10));
    border-color: hsl(from var(--color-light-blue) h calc(s - 20) l);
  }
}

.hero {
  .logo-large {
    margin-block-end: 3.5rem;
  }
}

.tracking-snippets, .clipboard-access, .productivity {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .wrapper-start {
    margin-block-end: 0;
  }
  .item {
    img {
      margin-block-end: 2.5rem;
    }
    h3 {
      margin-block-end: 1rem;
    }
  }
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

footer:not(.attribution) {
  gap: 2.75rem;
  padding: 3rem 2.5rem;
  background-color: hsl(from var(--color-grayish-blue) h s l / 0.15);

  .wrapper-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    img {
      width: 50%;
    }
    .pages {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      a {
        color: var(--color-dark-grayish-blue);
        text-decoration: none;
      }
      a:hover {
        color: var(--color-strong-green);
      }
    }
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    svg:hover > path {
      fill: var(--color-strong-green);
    }
  }
} 

@media (min-width: 1024px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }

  .text-large {
    & h1 {
      font-size: var(--desktop-font-size-h1);
    }
    & p {
      font-size: var(--font-size-p-large);
    }
  }
  .text-medium {
    & p {
      font-size: var(--font-size-p-medium);
    }
  }
  .text-small {
    & p {
      font-size: var(--font-size-p-small);
    }
  }

  .btn-wrapper {
    flex-direction: row;
    justify-content: center;
    
    button {
      padding: 0 2.5rem;
    }
  }

  .hero, .tracking-snippets, .clipboard-access, .downloads {
    .wrapper-start {
      align-self: center;
      width: 40rem;
    }
  }

  .tracking-snippets {
    .wrapper-end {
      flex-direction: row;
      align-items: center;
      
      img {
        transform: translateX(-25%);
      }
      .wrapper-end {
        transform: translateX(-35%);
        flex-direction: column;
        width: 22rem;

        .item {
          text-align: start;
        }
      }
    }
  }

  .productivity {
    .wrapper-end {
      flex-direction: row;
      justify-content: center;

      .item {
        max-width: 22rem;
      }
    }
  }

  .customers {
    flex-direction: row;
    gap: 7.5rem;
    align-items: center;
  }
}