:root {
  /* Colors */
  --color-strong-green: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  /* Font Sizes */
  --font-size-h1-h2: 2rem;
  --font-size-h3: 1.5rem;

  --font-size-p-large: 1.125rem;
  --font-size-p-medium: 1rem;
  --font-size-p-small: 1rem;
}

@font-face {
  font-family: "Bai Jamjuree Regular";
  src: url(./fonts/BaiJamjuree-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bai Jamjuree Semi-Bold";
  src: url(./fonts/BaiJamjuree-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree Regular', sans-serif;
}

body {
  background-image: url(./images/bg-header-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  color: var(--color-dark-grayish-blue);
  font-family: 'Bai Jamjuree Semi-Bold', sans-serif;
}
h1, h2 {
  font-size: var(--font-size-h1-h2);
}
h3 {
  font-size: var(--font-size-h3);
}

p {
  color: var(--color-grayish-blue);
  line-height: 1.75;
  font-size: var(--font-size-p-medium);
}

main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  margin: 7.5rem 1.875rem;
  gap: 10.5rem;
}

img {
  max-width: 100%;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  button {
    height: 3.5rem;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 3rem;
    color: white;
    font-family: 'Bai Jamjuree Semi-Bold', sans-serif;
    font-size: 1.125rem;
  }
  :nth-child(1) {
    background-color: var(--color-strong-green);
    border-color: hsl(from var(--color-strong-green) h s calc(l - 10));
  }
  :nth-child(2) {
    background-color: var(--color-light-blue);
    border-color: hsl(from var(--color-light-blue) h calc(s - 15) calc(l - 10));
  }
}

.hero {
  .logo-large {
    margin-block-end: 3.5rem;
  }
}
.hero, .tracking-snippets, .clipboard-access, .productivity, .downloads {
  .wrapper-start {
    display: flex;
    flex-direction: column;
    margin-block-end: 2.5rem;
    gap: 1rem;
  }
  .wrapper-end {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
}

.tracking-snippets, .productivity {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .wrapper-start {
    margin-block-end: 0;
  }
  .productivity-tool h3 {
    margin-block: 2rem 1rem;
  }
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

footer:not(.attribution) {
  gap: 2.75rem;
  padding: 3rem 2.5rem;
  background-color: hsl(from var(--color-grayish-blue) h s l / 0.15);
}
footer .wrapper-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  img {
    width: 50%;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      color: var(--color-dark-grayish-blue);
      text-decoration: none;
    }
    a:hover {
      color: var(--color-strong-green);
    }
  }
} 
footer .social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  img:active {
    /* (T.B.D)
    * Because beside filters, there is no way of 
    * changing colors of SVGs loaded in <img> tags. */
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }

  .text-large {
    & p {
      font-size: var(--font-size-p-large);
    }
  }
  .text-medium {
    & p {
      font-size: var(--font-size-p-medium);
    }
  }
  .text-small {
    & p {
      font-size: var(--font-size-p-small);
    }
  }
}