:root {
  /* Colors */
  --color-strong-green: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-grayish-blue: hsl(201, 11%, 66%);

  /* Font Sizes */
  --font-size-p-large: 1.125rem;
  --font-size-p-medium: 1rem;
  --font-size-p-small: 1rem;
}

@font-face {
  font-family: "Bai Jamjuree Regular";
  src: url(./fonts/BaiJamjuree-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bai Jamjuree Semi-Bold";
  src: url(./fonts/BaiJamjuree-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree Regular', sans-serif;
}

body {
  background-image: url(./images/bg-header-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  color: var(--color-dark-grayish-blue);
  font-family: 'Bai Jamjuree Semi-Bold', sans-serif;
}

p {
  color: var(--color-grayish-blue);
  font-size: var(--font-size-p-medium);
}

main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100%;
}

footer:not(.attribution) {
  gap: 2.75rem;
  padding: 3rem 2.5rem;
  background-color: hsl(from var(--color-grayish-blue) h s l / 0.15);
}
footer .wrapper-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  img {
    width: 50%;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      color: var(--color-dark-grayish-blue);
      text-decoration: none;
    }
    a:hover {
      color: var(--color-strong-green);
    }
  }
} 
footer .social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  img:active {
    /* (T.B.D)
    * Because beside filters, there is no way of 
    * changing colors of SVGs loaded in <img> tags. */
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }
}